<div class="container">
    <div class="about-row">



        <div class="about-data mt-5">
            <h2>About Us</h2>
            <p>
               &emsp; &emsp;Codelattice was founded on Dec 18, 2009, by 3 young aspiring technocrats with a vision to build a
                company that creates a sense of wonder and pride in whatever they do. We started off primarily as a Digital
                Marketing and Web Development Company. Over the years we worked with several fortune 500 brands and
                advertising agencies as a premium digital partner for their marketing needs.
                Since 2018, we have steered the company to a different trajectory. Now our focus is on homegrown
                intellectual properties to provide customizable Digital Solutions and off the shelf Software Products.
            </br>
            &emsp; &emsp;Codelattice was a concept. What made it an enterprise was the people who worked with us - our clients,
                partners and employees. We believe that an astounding organization can only be built by a sensible team
                that owns its success and failures. We are a people-centric company with openness to learning,
                experimenting and building. Our most prized possession is our employees.</p>
        </div>
    </div>
</div>