<section>
    <div class="container">

<div class="row">
<h3 class="text-center">Contact us</h3>
<div class="col-md-6 mt-5">
<div class="card" style="width: 15rem;">
  <img class="card-img-top" src="/images/cl-calicut-office.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">CALICUT</h5>
    <p class="card-text">CAFIT Square, HiLITE Business Park,</br>
Calicut-673014, </br>Kerala.</br>
Tel: +91 9620 615 727</p>
  </div>
</div>
</div>

<div class="col-md-6 mt-5">
<div class="card" style="width: 15rem;">
  <img class="card-img-top" src="/images/cl-mumbai-office.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">MUMBAI</h5>
    <p class="card-text">Codelattice, Caesar Road, Amboli,
Nr. St. Blaise School & Church,
Andheri West, Mumbai 400 058.</br>
Tel: +91 9620 615 727 </p>
  </div>
</div>
</div>



</div>
</div>
</section>