<div class="container">
    <div class="contact-row">
        <h2>Contact Us</h2>
        
            CAFIT Square, HiLITE Business Park,
            Calicut-673014, Kerala.
            Tel: +91 9620 615 727
            
            </P>
    </div>
</div>