<div class="container-fluid">
    <div class="contact-row">



        <div class="contact-data mt-5">
            <h2>Contact Us</h2></br>
            <div class="contactdetails">
                <h5>CALICUT</h5>
                <p>CAFIT Square, HiLITE Business Park,,</br>
                    Calicut-673014, Kerala.</br>
                    Tel: +91 9620 615 727</p>
            </div>
            <div class="contactdetails">
                <h5>MUMBAI</h5>
                <p>Codelattice, Caesar Road, Amboli,</br>
                    Nr. St. Blaise School & Church,</br>
                    Andheri West, Mumbai 400 058.</br>
                    Tel: +91 9620 615 727</p>
            </div>
        </div>
    </div>
</div>