<section>
    <div class="container-fluid">
        <div class="row">
            <div class="title">
                <h1>WE MAKE YOU</h1>
                <h1> DIGITALLY IMMORTAL </h1>

            </div>
            <div class="button">
                <a href="/aboutus">EXPLORE</a>
            </div>

        </div>
    </div>

</section>