<section>
    <div class="container">

<div class="row">
<h3 class="text-center">Services</h3>

<div class="col-md-6">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">WEBSITE DEVELOPMENT</h5>
    <h6 class="card-subtitle mb-2 text-muted">Creative designs, Static & CMS Websites</h6>
    <p class="card-text">We create impactful brand stories with intuitive, impressive & fast websites. Over 1500 websites delivered in 50 countries so far. Trends change and we keep up.</p>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">CLOUD APPLICATIONS</h5>
    <h6 class="card-subtitle mb-2 text-muted">Web Based Application Development</h6>
    <p class="card-text">Born Cloud Company, we ace in UX, performance and architecture. We encompass Security, Analytics , Artificial Intelligence and Natural Language Processing </p>
  </div>
</div>
</div>


<div class="col-md-6 mt-2">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">MOBILE APPLICATIONS</h5>
    <h6 class="card-subtitle mb-2 text-muted">Android, iOS and Hybrid Mobile Apps</h6>
    <p class="card-text">Connect to customers with innovative, high performing apps. Accelerate, advance, adapt in the world of disruption & outpace competitors </p>
  </div>
</div>
</div>


<div class="col-md-6 mt-2">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">DIGITAL MARKETING</h5>
    <h6 class="card-subtitle mb-2 text-muted">Organic & Paid Online Promotions</h6>
    <p class="card-text">Find your new customers in the right place at right time through Social Media & Search Marketing, PR and Email Campaigns. We help you humanize your brand </p>
  </div>
</div>
</div>



</div>
</div>
</section>