.body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/header-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color:#fff;
    font-size: 45px;
    font-family:sans-serif;
}
.button{
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
}
.button a{
    
border: 1px solid #fff;
padding:10px 30px;
color:#fff;
text-decoration: none;
transition: 0.6s ease-in-out;
}
.button a:hover{
background-color: #fff;
color:#000;
}


.contact-row{
    height: 500px;
}
.navbar-nav{
    margin-left: auto;
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar-nav li a{
    font-weight: 600;
}
.navbar-brand{
    margin-left: 10px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
           }
.footerinfo{
    margin-left: 15px;
}
.about-data h2{
    text-align: center;

}
.contact-row{
    background-position: center;
    height: 100vh;   
}
.contact-row h2{
    text-align: center;  
}
.contactdetails{
    text-align: center;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.container{
    padding-bottom: 100px;
}
.about-data p{
    padding: 50px;
}